ase
cuequivariance
cuequivariance_torch
e3nn
fpsample
GitPython
h5py
intel_extension_for_pytorch
lmdb
matplotlib
matscipy
numba
numpy
opt_einsum_fx
orjson
pytest
python_hostlist
PyYAML
scipy
torch
torch_dftd
torch_ema
tqdm
wandb
