ase
cuequivariance
cuequivariance-torch==0.3.0
e3nn==0.4.4
fpsample
GitPython
h5py
intel_extension_for_pytorch
lmdb
matplotlib
matscipy
numba
numpy
opt_einsum_fx
orjson
pytest
python_hostlist
PyYAML
scipy
torch
torch_dftd
torch_ema
tqdm
wandb
